body{
    margin: 0;
    padding: 0;
}
.navbar{


  display: flex;
  background-color: rgb(220, 220, 77);  
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;

}
.navbar-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 30vw;
}
.navbar-left input{
    border-radius: 10px;
    margin: 10px
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    width: 70vw;
}

.logo-image{
    width: 75px;
}
.sidebar{
    background-color:rgb(225, 210, 170);
    top:0;
    width: 15vw;
    height: 100vh;
    position:sticky;
}
#category-sidebar{
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    margin: 10px;

}
footer{
    background-color: green;
    width: 100vw;
    height: 10vh;

}
.homepage-view{
    display: flex;
}
#joblist-view{
 margin: 10px auto; 
}
.job-listing{
    display: flex;
    flex-direction: column; 
    width: 60vw;
    padding: 10px;
    border: 2px solid rgb(110, 110, 11);  
    border-radius: 15px;
    margin-bottom: 10px;
    
    
    
}  
.button-style{
    display: flex;
    margin: auto 5px;
}
#delete-btn{
border-radius: 10px;
border: 1px solid rgb(138, 0, 0);
background-color: transparent;
color: rgb(138, 0, 0);
width: 50px;
margin: 0 3px;
}
#edit-btn{
border-radius: 10px;
border: 1px solid green;
background-color: transparent;
color: green;
width: 50px;

}
#remote-btn{
    background-color: rgb(220, 220, 77);  
    border-radius: 10px;
    border: none;
  
}
.job-list-title{
display: flex;
/* background-color: brown; */
align-items:flex-end;
justify-content: space-between;

}

a{
    text-decoration: none;
    color: black;
}
.job-properties{
display: flex;

justify-content: space-between;
}
#job-status{
/* background-color: yellow; */
width: 25vw;
}
#job-qualification{
/* background-color: orange; */
display: flex;
justify-content: flex-end;


width: 75vw;
}
#job-qualification h5{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin-right: 5px ;
    background-color: gainsboro;
    
    
}
.form-div{
    background-color: aquamarine;
    display: flex;
    justify-items: center;
}
.addForm{
display: flex;
flex-direction: column;
margin: 5px auto;
padding: 10px;
width: 70vw;
}
.addForm input{
    margin: 5px;

}
.addForm label{
    margin: 5px;

}

.job-details{
    width: 70vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 192, 150);
    border-radius: 15px;
}
.details-title{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    background-color: rgb(137, 156, 95);
    margin: 10px;
}
.details-company{
    /* background-color: rgb(177, 132, 177); */
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.details-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    background-color: rgb(137, 156, 95);
}
.job-status{
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
.job-timing{
    display: flex;
    justify-content: space-between;
}
.qualifications h4 {
    
    margin-left: 0px;
    padding-left: 0px;
}
.qualifications li{
    padding: 8px 0;
}
#remote-style{
    background-color: rgba(163, 185, 37, 0.555);
    border: none;
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
    
}
#apply-btn{
    width: 50vw;
    height: 35px;
    margin: 10px auto;
    border: none;
    border-radius: 30px;
    background-color: rgba(163, 185, 37, 0.555);
}
